<h1>Employees</h1>

<p *ngIf="!vm"><em>Loading...</em></p>

<div *ngIf="vm">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <button class="btn btn-default float-right" title="Add Employee..."
          (click)="showNewEmployeeModal(newEmployeeModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
      <ul class="list-group">
        <li *ngFor="let employee of vm.employees; index as i" class="list-group-item"
            [ngClass]="{ 'active': selectedEmployee == employee }" (click)="selectedEmployee = employee">
          <div class="clearfix">
            <div class="float-left">
                {{ employee.name }} {{ employee.lastName }}
            </div>
            <div class="float-right text-right">
                <span class="badge badge-light">{{ petsAmount(employee) }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" *ngIf="selectedEmployee">
      <div class="clearfix">
        <h2 class="float-left">{{ selectedEmployee.name }} {{ selectedEmployee.lastName }}</h2>
        <button id="listOptions" class="btn btn-default float-right" title="Edit Employee..."
          (click)="showEmployeeUpdateModal(employeeOptionsModalTemplate)">
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
      </div>
      <ul id="pet-items" class="list-group mb-2">
        <li class="list-group-item" *ngFor="let pet of selectedEmployee.pets; index as i">
          <div class="d-flex">
            <div class="flex-fill">
              <input id="{{ 'name' + i }}" *ngIf="pet == selectedPet" type="text"
                     class="form-control item-input-control" [(ngModel)]="pet.name" (keyup.enter)="updatePet(pet, true)"
                     (blur)="updatePet(pet)" autofocus="autofocus" />
              <div class="pet-name"
                   (click)="editPet(pet, 'name' + i)" class="form-control item-input-control">
                <span>
                  Pet name: <b>{{ pet.name }}</b>
                  Pet type: <b>{{ AnimalTypes[pet.animalType]  }}</b>
                </span>
              </div>
            </div>
            <div class="pet-commands">
              <button *ngIf="pet.id != 0" (click)="showPetDetailsModal(petDetailsModalTemplate, pet)"
                      class="btn btn-default btn-xs" role="button">
                <fa-icon [icon]="faEllipsisH"></fa-icon>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item" (click)="addPet()">
          <button class="btn btn-default">Add Item...</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ vm | json }}</pre>
</div>

<ng-template #employeeOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Edit</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="employeeOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="editEmployeeName">Name</label>
      <input type="text" class="form-control" id="editEmployeeName" [(ngModel)]="employeeUpdateEditor.name" />
    </div>
    <div class="form-group">
      <label for="editEmployeeLastName">Last Name</label>
      <input type="text" class="form-control" id="editEmployeeLastName" [(ngModel)]="employeeUpdateEditor.lastName" />
    </div>
    <div class="form-group">
      <label class='isMediaInteractive' for="editIsMediaInteractive">Is Media Interactive</label>
      <input type="checkbox" id="editIsMediaInteractive" [(ngModel)]="employeeUpdateEditor.isMediaInteractive"/>
    </div>

    <div *ngIf="debug">
      <pre>{{ employeeUpdateEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteEmployee(deleteEmployeeModalTemplate)">Delete</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="employeeOptionsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateEmployeeOptions()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #petDetailsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Pet Details</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="close(petDetailsModalRef)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label for="petName">Name</label>
        <input type="text" id="petName" class="form-control" rows="3" [(ngModel)]="petDetailsEditor.name"/>
      </div>
      <div class="form-group">
        <label for="animalType">Animal type</label>
        <select class="form-control" [(ngModel)]="petDetailsEditor.animalType">
          <option [ngValue]="animalType.value" *ngFor="let animalType of vm.animalTypes">{{ animalType.name }}</option>
        </select>
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ petDetailsEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="deletePet(selectedPet)">Delete</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="close(petDetailsModalRef)">Cancel</button>
        <button class="btn btn-primary" (click)="updatePetDetails()">Update</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteEmployeeModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Delete "{{ selectedEmployee?.name }} {{ selectedEmployee?.name }}"?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteEmployeeModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>All items will be permanently deleted. </p>
    <div *ngIf="debug">
      <pre>{{ selectedEmployee | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteEmployeeModalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteEmployeeConfirmed()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #newEmployeeModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">New Employee</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newEmployeeCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="employeeName">Name</label>
      <input type="text" class="form-control" id="employeeName" [(ngModel)]="newEmployeeEditor.name"
             [ngClass]="{ 'is-invalid': newEmployeeEditor.error }" />
      <div *ngIf="newEmployeeEditor.error" class="invalid-feedback">
        {{ newEmployeeEditor.error }}
      </div>
    </div>
    <div class="form-group">
      <label for="employeeLastName">Last name</label>
      <input type="text" class="form-control" id="employeeLastName"  [(ngModel)]="newEmployeeEditor.lastName"
             [ngClass]="{ 'is-invalid': newEmployeeEditor.error }" />
      <div *ngIf="newEmployeeEditor.error" class="invalid-feedback">
        {{ newEmployeeEditor.error }}
      </div>
    </div>
    <div class="form-group">
      <label class='isMediaInteractive' for="isMediaInteractive">Is media interactive</label>
      <input type="checkbox" id="isMediaInteractive" [(ngModel)]="newEmployeeEditor.isMediaInteractive"/>
    </div>
    <div *ngIf="debug">
      <pre>{{ newEmployeeEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newEmployeeCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addEmployee()">Create</button>
    </div>
  </div>
</ng-template>
