#listOptions {
    margin-right: 10px;
}

#todo-items .item-input-control {
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

#todo-items .done-todo {
    text-decoration: line-through;
}

#todo-items .todo-item-title {
    padding-top: 8px;
}

#todo-items .list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

#todo-items .list-group-item .btn-xs {
    padding: 0;
}

#todo-items .todo-item-checkbox {
    padding-top: 8px;
}

#todo-items .pet-commands {
    padding-top: 4px;
}

.modal-footer {
    display: block;
}

.isMediaInteractive{
  padding-right: 10px;
}
